<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" convertErrorsToExceptions="true" convertWarningsToExceptions="true" convertNoticesToExceptions="true" bootstrap="vendor/autoload.php" verbose="true" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/Engine</directory>
    </include>
    <report>
      <html outputDirectory="build/coverage/html" lowUpperBound="35" highLowerBound="70"/>
      <xml outputDirectory="build/coverage/coverage-xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="build/coverage/junit.xml"/>
  </logging>
  <testsuites>
    <testsuite name="core">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
